<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3301/3301556.png">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<meta charset="UTF-8">
	<title>Appointment system</title>
</head>

<style>
	nav {
		background-color: rgb(5, 182, 5);
	}

	.navbar-brand {
		font-weight: bold;
		color: white !important;
	}

	.head1,
	.fa {
		color: rgb(5, 182, 5);
		font-weight: bold;
	}

	form {
		border-radius: 4px !important;
		max-width: 1200px;
		height: auto;
		margin: auto;
		border: 1px solid rgb(5, 182, 5) !important;
	}

	label {
		text-align: left !important;
		color: black;
		font-weight: 500;
		margin-bottom: 5px;
	}

	.btn {
		background-color: rgb(5, 182, 5) !important;
		font-weight: 600;
	}

	#dashboard_link,
	#appointment_status_link {
		
		text-align: center;
		color: rgb(5, 182, 5) !important;
		background-color: white !important;
	}
</style>

<body>
	<nav class="navbar navbar-expand-sm navbar-light">
		<div class="container">
			<a class="navbar-brand" href="#"><i class="fa fa-files-o" aria-hidden="true" style="color: white;"></i>
				Appointment System</a>
			<div class="ml-auto">
				<a th:href="@{/user/login}" class="btn" type="button" id="dashboard_link"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a>&nbsp;&nbsp;
			</div>
		</div>
	</nav>


	<main>
		<div class="container p-3 mt-3">
		<h2 class="text p-2 text-center">Book Your Appointment</h2>
			<div class="d-flex justify-content-center">
			
				<form th:action="@{/appointment}" method="post" class="form-control p-4 mt-4">

					<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
						<strong><span th:text="${success}"></span></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>

					<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong><span th:text="${error}"></span></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3">
								<label for=""><i class="fa fa-user"></i> User Name</label>
								<input type="text" name="userName" class="form-control" id="" required>
							</div>
							<div class="mb-3">
								<label for=""><i class="fa fa-envelope"></i> Email Address</label>
								<input type="text" name="email" class="form-control" id="" required>
							</div>
							<div class="mb-3">
								<label for=""><i class="fa fa-phone"></i> Phone Number</label>
								<input type="text" name="phone" class="form-control" id="" required>
							</div>
							<div class="mb-3">
								<label for="">Address</label>
								<textarea name="address" id="" cols="30" rows="1" class="form-control" required></textarea>
							</div>
						</div>
						<div class="col-sm-6">
							
							<div class="mb-3">
								<label for="">ServiceType</label>
								<select id="role" class="form-control form-select" name="serviceType" required>
							<option>select service</option>
							<option value="interview">Interview</option>
							<option value="professional">Professional</option>
							<option value="Career Coaching">Career Coaching</option>
							<option value="others">Others</option>
						</select>
							</div>
							<div class="mb-3">
								<label for=""><i class="fa fa-clock-o"></i> Appointment Date</label>
								<input type="date" name="appointmentDate" class="form-control" id="" required>
							</div>

							<div class="mb-3">
								<label for="">Required Time</label>
							<select id="role" class="form-control form-select" name="appointmentDuration" required>
							<option>select duration</option>
							<option value="30">30 min</option>
							<option value="45">45 min</option>
							<option value="60">60 min</option>
							<option value="120">2 hours</option>
						</select>
							</div>
							<div class="mb-3">
								<label for=""><i class="fa fa-check"></i> Status</label>
								<input type="text" name="status" class="form-control"  id="status">
							</div>
						</div>
					</div>

					<div class="row p-2 mt-2 mb-3">
						<button class="btn text-light" type="submit">Book Appointment</button>
					</div>
				</form>
			</div>
		</div>
	</main>

<script>
        // Define the possible statuses
        const statuses = ["booked", "pending"];

        // Function to get a random status
        function getRandomStatus() {
            const randomIndex = Math.floor(Math.random() * statuses.length);
            return statuses[randomIndex];
        }

        // Set the random status to the input field
        document.getElementById('status').value = getRandomStatus();
    </script>
</body>

</html>